<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h2>{{email}}</h2>
</div>


<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores sint laboriosam labore qui, aliquid hic cum
        sequi omnis totam? Iste ut nemo aut, voluptas laudantium ea fugiat eos temporibus odio!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis beatae deserunt minus, aut eum itaque enim
        qui assumenda illo earum aliquid nisi quibusdam blanditiis expedita sapiente, accusamus nulla magni sunt?</p>
</article>